<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
	<add name="IwsPortal" providerName="System.Data.SqlClient" connectionString="Data Source=PRESTOREDBDVLP.intcomex.com;Initial Catalog=IWSPortal;Persist Security Info=True;User ID=webuser;Password=Fawruch7" />
  </connectionStrings>
  <appSettings>
	  <add key="urlStoreService" value="https://store.intcomex.com/{language}-{company}/ServiceClient/Privacy" />
	  <add key="urlStoreServiceXCB" value="https://store.xcbcolombia.com/{language}-{company}/ServiceClient/Privacy/FooterLink_Privacy?r=True" />
	  <add key="urlStoreHome" value="https://store.intcomex.com/{language}-{company}/Home" />
	  <add key="urlStoreHomeXCB" value="https://store.xcbcolombia.com/{language}-{company}/Home" />
	  <add key="urlStoreLogin" value="https://store.intcomex.com/{language}-{company}/Account/Login" />
	  <add key="urlStoreLoginXCB" value="https://store.xcbcolombia.com/{language}-{company}/Account/Login" />
	  <add key="urlStoreForgotPassword" value="https://store.intcomex.com/{language}-{company}/Customer/ForgotPassword" />
	  <add key="urlStorePasswordXCB" value="https://store.xcbcolombia.com/{language}-{company}/Customer/ForgotPassword" />
	  <!--llave para reCaptcha -->
	  <add key="reCaptchaSiteKey" value="6Lc91AwaAAAAAK18g39P74mKGFGxaGj2FdTfjqud" />
	  <add key="reCaptchaSecretKey" value="6Lc91AwaAAAAAL3aqGilHbcQwVH_ohze2bDoJNyz" />
	  <add key="reCaptchaUrl" value="https://www.google.com/recaptcha/api/siteverify" />
	  <!--llave para determinar cuál url de apigee se muestra -->
	  <add key="UrlApigee" value="https://intcomex-prod.apigee.net/v1" />
	  <add key="UrlIws" value="https://iws.intcomex.com/api/iwsapi" />
	  <!--llave para activar el manejo de rutas -->
	  <add key="RouteDebugger:Enabled" value="false" />
	  <add key="webpages:Version" value="3.0.0.0" />
	  <add key="webpages:Enabled" value="false" />
	  <add key="ClientValidationEnabled" value="true" />
	  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="DefaultLanguage" value="es" />
	  <add key="SessionTime" value="30" />
	  <!-- Catalogs Task Sheduler>-->
	  <add key="PrefixNameTask" value="IWSPROD-UpdateCatalogs-" />
	  <add key="PathaService" value="E:\IWS\Service Creacion Catalogo\ConsumoServicioIWS.exe" />
	  <add key="UserId" value="webdev" />
	  <add key="Password" value="Iwsdev@Intcomex286" />
	  <add key="ValidTimeCreateTrigger" value="5" />
	  <!--Active   Direcdtory -->
	  <add key="UrlActiveDirectory" value="LDAP://s1dshq.intcomex.com/DC=intcomex,DC=com" />
	  <add key="GroupsActiveDirectory" value="G1-PortalIWS" />
	  <!--IWS Service -->
	  <add key="UrlAdminapi" value="https://vms10iws.intcomex.com/api/adminapi/" />
	  <!-- News>-->
	  <add key="ViewNewDate" value="7" />
	  <!-- Catalogs>-->
	  <add key="PrefixApiKey" value="Catalog_en_" />
	  <add key="pathFileOrigen" value="E:\IWS\Catalogs" />
	  <add key="PathGenerateCatalogConfig" value="C:\IWSPortal\Catalogs\detailed" />
	  <add key="PathGenerateSimplifiedCatalogConfig" value="C:\IWSPortal\Catalogs\simpliflied" />
	  <!-- DevelopmentMails>-->
	  <add key="DevelopmentMails" value="desarrollo Daniel.Garay@intcomex.com;desarrollo Sebastian.Rodriguez@intcomex.com;desarrollo Adolfo.Acevedo@intcomex.com; zully.villate@intcomex.com" />
	  <!-- Settings Customers IWS>-->
	  <add key="ConfigSetting" value="products.catalog.admin,products.catalog.source,products.catalog.detailed,general.locale" />
	  <!-- llave que se la agrega a las imagenes para responder en la api>-->
	  <add key="UrlImages" value="https://iwsportal.intcomex.com/images" />
	  <!-- Ruta base de las imágenes ubicadas en SKUCentral -->
	  <add key="SkuCentralImagesBaseUrl" value="https://skucentral.intcomex.com/images/products" />
	  <add key="EmailFromIWSPortaIncomext" value="desarrollo;;iws.portal@intcomex.com" />
	  <!--Paginador para previsualizador de filtros-->
	  <add key="PerPageProductsPreview" value="7" />
	  <!--expiraction time code validation create lead (minutes)-->
	  <add key="timeExpirendCode" value="10" />
	  <!--Single sign on Keys-->
	  <add key="ida:Tenant" value="intcomexb2c.onmicrosoft.com" />
	  <add key="ida:AadInstance" value="https://intcomexb2c.b2clogin.com/tfp/{0}/{1}" />
	  <add key="ida:ClientSecret" value="9mqj-3M.t2rMa0psNzT6J~emQ_To_iq6s_" />
	  <add key="ida:TenantId" value="a31370ef-f387-4d13-8c70-b3d4f386e680" />
	  <add key="api:ApiIdentifier" value="https://intcomexb2c.onmicrosoft.com/api/" />
	  <add key="ida:MetadataEndpoint" value="https://intcomexb2c.b2clogin.com/intcomexb2c.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=b2c_1a_signup_signin" />
	  <add key="ida:ClientId" value="71a7eec8-95d3-4e30-b8ca-d488790de1d5" />
	  <!--<add key="ida:RedirectUri" value="https://localhost:44346/Account"/>-->
	  <add key="ida:RedirectUri" value="https://localhost:44346/" />
	  <add key="ida:SignUpSignInPolicyId" value="b2c_1a_signup_signin" />
	  <add key="ida:EditProfilePolicyId" value="b2c_1_edit_profile" />
	  <add key="ida:ResetPasswordPolicyId" value="b2c_1a_passwordreset" />
	  <add key="Issuer" value="https://intcomexb2c.b2clogin.com/tfp/7e5b95fd-b8c9-4ef0-9516-fc6dd5d8c980/b2c_1a_signup_signin/v2.0/" />
	  <add key="ida:RedirectUriLogout" value="https://localhost:44346/Account/EndSession" />
	  <add key="ExpiresCookie" value="60" />
	  <add key="SingleSignOnActive" value="true" />
	  <!--ApiAuthProcessTrax-->
	  <add key="ApiAuthProcess" value="https://b2b-e-commerce-pro-api-pre-prod.us-e1.cloudhub.io/api/auth" />
	  <add key="UserApiAuthProcess" value="user" />
	  <add key="PasswordApiAuthProcess" value="password" />
	  <!--ApiMuleSoft-->
	  <add key="ApiMule" value="https://crm-experience-api.us-e1.cloudhub.io/api" />
	  <add key="BaseApiMule" value="https://crm-experience-api-pre-prod.us-e1.cloudhub.io/api/" />

	  <add key="ApiMuleProd" value="https://crm-experience-api-pre-prod.us-e1.cloudhub.io/api/leads" />
	  <add key="ApiLeadExistenceDvlp" value="https://crm-experience-api.us-e1.cloudhub.io/api/leadexistence?" />
	  <add key="ApiLeadExistence" value="https://crm-experience-api-pre-prod.us-e1.cloudhub.io/api/leadexistence?" />
	  <add key="ApiLeadExistence2" value="https://crm-experience-api-predev.us-e2.cloudhub.io/api/leadexistence?" />
	  <!--ElectronicBillingLead-->
	  <add key="ElectronicBillingLead" value="XCB,XPE,XEC,XUY,XCR,XJM,XGT,XCL" />
  </appSettings>
  <system.web>
	<customErrors mode="On" defaultRedirect="~/shared/Error">
		<!--<error statusCode="404" redirect="~/PagesError/Error404"/>-->
		<error statusCode="404" redirect="/PagesError/Error404" />
	</customErrors>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.33.0.0" newVersion="4.33.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	<httpProtocol>
		<customHeaders>
			<add name="Access-Control-Allow-Origin" value="*" />
			<add name="Access-Control-Allow-Headers" value="Content-Type" />
			<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
		</customHeaders>
	</httpProtocol>
  </system.webServer></configuration>