<div class="title-section">
  <h5>Información de la compañía</h5>
</div>
<div class="field form-group ">
  <input type="text" name="companyname" id="1" class="input-big uppercase  " placeholder="Nombre o razón social" data-required="" required="" minlength="5" maxlength="60" data-validate-regex="^[a-zA-Z0-9 ]{5,60}$">
  <label title="Nombre o razón social" for="companyname" data-title="Nombre o razón social"></label>
</div>
<div class="field form-group ">
  <input type="text" name="ph_companyidentification" id="2" class="input-big " placeholder="NIT/RUT/RFC" data-required="" required="" minlength="5" maxlength="60" data-validate-regex="^[a-zA-Z0-9 ]{5,60}$">
  <label title="NIT/RUT/RFC" for="NitRutRfc" data-title="NIT/RUT/RFC"></label>
</div>
<div class="field form-group ">
  <input type="text" name="address1_name" id="3" class="input-big " placeholder="Dirección Comercial" data-required="" required="" minlength="5" maxlength="60" data-validate-regex="^[a-zA-Z0-9 ]{5,60}$">
  <label title="Dirección Comercial" for="commercialaddress" data-title="Dirección Comercial"></label>
</div>


<div class="group-fields">
  <div class="floating-label form-group">
    <select class="input-medium  " data-required="" required="" name="country_id">
      <option value="" optionid="">     </option>
      <option value="0661dd0e-d6d5-4aba-87a7-2635b6ed22a7">ANGUILLA</option>
      <option value="7e4485b1-42b0-4d98-aeb0-2ca03c51061c">ANTIGUA AND BARBUDA</option>
      <option value="fc8bd5d7-e7c7-42f1-978c-34b5df547fcf">ARGENTINA</option>
      <option value="70c5d3b1-04b0-4ba9-bb55-709f102f08c7">ARUBA</option>
      <option value="8eb36e88-0984-4d6a-8726-6c0511d9f145">AUSTRALIA</option>
      <option value="8e88ab1b-1991-4687-be73-192098c7963d">BAHAMAS</option>
      <option value="eb4d97d1-2fc5-401b-90c2-1fa2c52f6a29">BARBADOS</option>
      <option value="e60a72ca-616e-4249-a394-6c74bb55fb89">BELGIUM</option>
      <option value="594dbcdc-fd83-41fd-838c-71be995e6b2f">BELIZE</option>
      <option value="92b279ec-8c5f-4332-aded-efc878c06756">BERMUDA</option>
      <option value="7bce9edd-8e11-4bb4-819e-00c727b6c209">BOLIVIA</option>
      <option value="a83ec228-b107-4786-b7ee-fb18b2289576">BONAIRE, SINT EUSTAT</option>
      <option value="b64761dc-114b-4b48-8c42-23c2a4540a19">BRAZIL</option>
      <option value="fcd86746-a186-e811-80fc-005056ba632f">BRITISH VIRGIN ISLAND</option>
      <option value="d726ec22-a84a-492f-adf1-0a6800d46b01">CANADA</option>
      <option value="e21249eb-16a0-4592-96bc-d3392168ccf5">CAYMAN ISLANDS</option>
      <option value="b53849e6-1141-4778-8875-fbd68b6c1cae">CHILE</option>
      <option value="64831d6c-7b76-4f24-9f81-3fdd11a69abe">CHINA</option>
      <option value="182265a9-e2fc-41b6-a72d-70458039e451">COLOMBIA</option>
      <option value="85f5511d-17ff-4436-9d6f-f1cbcb08d787">COSTA RICA</option>
      <option value="a4367067-e144-4f52-ad4b-549b52fa47df">CURACAO</option>
      <option value="8e91b5d8-6609-48db-adbe-d03cca30d72d">CYPRUS</option>
      <option value="0bc2803e-0668-4198-81ab-84bdb0b9c80b">DENMARK</option>
      <option value="7ee4915c-b45d-42fd-b203-4f3cfa98b740">DOMINICA</option>
      <option value="a1e69fcf-c053-45fb-aca6-6e409a7e4453">ECUADOR</option>
      <option value="8968e614-6e97-4458-aae8-dc77fa010e59">EL SALVADOR</option>
      <option value="aa8bedcb-4023-4e23-ae5a-0334907734b8">FINLAND</option>
      <option value="ee6e463e-8a00-42eb-91f1-7891847e5009">FRANCE</option>
      <option value="b5ee0078-7a96-49f6-b4a6-4e693c8a84ac">FRENCH ANTILLES</option>
      <option value="51d24fb5-d2e4-40e2-914b-d1d39ef00adf">FRENCH GUYANA</option>
      <option value="5b70a067-f031-4f1d-97b4-b4ac43691ac8">FRENCH WEST INDIES</option>
      <option value="1641645f-54a9-40e9-a2c7-b88f95f96e37">GERMANY/ALEMANIA</option>
      <option value="eaac36d7-5706-4deb-98e8-232b3e1f502a">GHANA</option>
      <option value="33c5d6d3-963b-4f3c-9051-381251bb03e8">GRENADA</option>
      <option value="8ce597bd-068c-4306-95ba-bcb97a24d4db">GUADELOUPE (FRENCH)</option>
      <option value="c0972ee0-94d2-4554-93d1-b3785ec8d5e0">GUAM</option>
      <option value="f2c41c3a-ae4b-4abb-9078-f9b85b659ba4">GUATEMALA</option>
      <option value="64d6d827-13f3-4590-b5d4-82c39cfb0f52">GUYANA</option>
      <option value="b070957a-bd2e-4efc-914c-22f82d95773e">HAITI</option>
      <option value="f4fde1ea-2f79-4b56-8c08-5dbf05063ab5">HONDURAS</option>
      <option value="5228002f-2e8c-446a-be0d-30f21aea4c9b">HONG KONG</option>
      <option value="bbcc0e3e-9154-46d2-843a-366c5471b5c7">INDIA</option>
      <option value="c6e50beb-2dc8-49fd-a948-a7e54a066961">IRELAND</option>
      <option value="10eb9731-eac6-439d-84cc-d12f3960bc50">ISRAEL</option>
      <option value="8a596046-032a-48d4-9198-a40d046571c6">ITALY</option>
      <option value="64d9642c-fdf6-4714-b748-172c09a466ef">JAMAICA</option>
      <option value="ab72fec0-a82c-4d23-8576-ed263ebdf8ca">JAPON</option>
      <option value="82e7e514-5f61-4fe9-8d5a-6b8cfb98e96d">JORDAN</option>
      <option value="da1d78a8-8e24-4a05-97a1-48c0915bf216">MALAYSIA</option>
      <option value="79030ced-740f-4da1-9b36-a9c741eda76e">MARTINIQUE</option>
      <option value="4c4f28b4-d7ec-4497-a43d-2180cdb3fec7">MEXICO</option>
      <option value="f83f5349-e3b1-418b-98ab-eb5be0274a87">MOZAMBIQUE</option>
      <option value="93e91b49-2c42-45cb-b3c1-1d29171cc8bf">NETHERLAND ANTILLES</option>
      <option value="49938048-8c6d-40e2-b0db-03016802cb07">NETHERLANDS</option>
      <option value="6485b847-ba89-4db8-8f33-7d3907eb8863">NEVIS</option>
      <option value="d9174f7b-db6b-4eb1-b4ed-36b53a5ccc75">NICARAGUA</option>
      <option value="a39d3e10-67c7-4acb-a719-710fc85fb8c8">NIGERIA</option>
      <option value="c7da79be-4f69-444d-b0f8-0d761b6b0bf9">PANAMA</option>
      <option value="93a405a5-7c78-48cf-9f5c-d7f2932caa74">PARAGUAY</option>
      <option value="61e5d422-080a-446d-9d8c-b929ae7c42b3">PERU</option>
      <option value="c794ac9f-e4a4-45cc-b69f-4780a6e9c32d">PORTUGAL</option>
      <option value="81fe3a33-ee99-4a59-afe2-bd26c2e9d295">PORTUGAL</option>
      <option value="61d92c4b-58f7-4fc1-9445-f9ff5db73689">PUERTO RICO</option>
      <option value="5c596e29-81d3-4527-9086-249b80dc4d21">REPUBLIC OF CYPRUS</option>
      <option value="506ee15e-c922-460e-b266-994b17a7c279">REPUBLIC OF PALAU</option>
      <option value="05d0a85d-a38b-450d-acd3-d1686dcf7fd8">REPUBLICA DOMINICANA</option>
      <option value="a29bc5af-6b74-4fdd-b3a3-fab3153b754f">SAINT KITTS</option>
      <option value="d68d0b4b-ae67-460d-8401-6cfb3edcd396">SAINT LUCIA</option>
      <option value="854bd279-09cf-44c3-9c0d-279edc42f82d">SAINT MARTIN</option>
      <option value="59abf9a2-701c-41c0-83d3-a22da1b5ae3e">SINGAPORE</option>
      <option value="720be5e0-7f6f-41ac-9552-2f32596e8bd1">SINT MAARTEN</option>
      <option value="a31475f4-ab10-413d-9b11-054e909e7d04">SOUTH AFRICA</option>
      <option value="77de2617-2b76-4c9b-8e60-d25c76049fe2">SOUTH KOREA</option>
      <option value="47f8dbab-5ce6-4495-a7c2-1f377c21e84e">SPAIN</option>
      <option value="e9e907cb-f8a2-413f-a3ed-8b37eb883f5f">SPAIN</option>
      <option value="25ec7562-bdfd-4c05-9f4a-bb925fc2357a">ST VINCENT & GRENADI</option>
      <option value="c0d0b25a-34ca-4346-8d76-62572b45bd15">SUIZA</option>
      <option value="601f04e2-e5dd-49f0-9511-4f8b52453268">SURINAME</option>
      <option value="563f4257-0300-43b9-9d3e-26666ebe45ff">SWITZERLAND</option>
      <option value="bc917f9a-5866-4c3c-81a9-ec78aabc80df">TAIWAN</option>
      <option value="403284cb-2e97-491b-bfa9-37bbe83dda7b">THAILAND</option>
      <option value="b063e583-1f6e-443a-b758-7bdbbecdd72d">TONGA</option>
      <option value="e3db2fd1-5749-4357-82f7-7592dce60fc5">TRINIDAD & TOBAGO</option>
      <option value="3dab9210-712f-4c6b-b4ff-b57a45655c55">TURKIA</option>
      <option value="b82ff38a-4e09-4828-8d53-83274eac2cff">TURKS & CAICOS ISLAN</option>
      <option value="7028b559-8e89-4bab-bc89-21844ec1b17a">UNITED ARAB EMIRATES</option>
      <option value="fb0d4d07-7999-46bb-ad38-5e2c00eb52d7">UNITED KINGDOM</option>
      <option value="200c1c85-0941-4065-9142-9935d86be177">UNITED STATES</option>
      <option value="57c245fd-eb73-4037-9445-4045c3fe3e23">URUGUAY</option>
      <option value="8d257e1d-d5ee-4625-ad0f-de03e02134aa">VENEZUELA</option>
      <option value="da77ab0f-fb29-48b1-a9dc-14a500078a51">VIRGIN ISLANDS (UK)</option>
      <option value="cae9655d-434c-4a20-addd-1cd08c5d3a3f">VIRGIN ISLANDS (US)</option>
    </select>
    <label for="geographic_level_1" class="label-select">Pais</label>
  </div>
  <div class="field form-group">
    <input type="text" name="address1_postalcode" id="4" class="input-medium " placeholder="Código Postal" data-required="" required="" minlength="5" maxlength="60" data-validate-regex="^[a-zA-Z0-9 ]{5,60}$">
    <label title="Código Postal" for="postalcode" data-title="Código Postal"></label>
  </div>
</div>

@*<div class="field form-group ">
  <input type="text" name="estado" id="5" class="input-big uppercase  " placeholder="Estado/Provincia/Departamento" data-required="" required="" minlength="5" maxlength="60" data-validate-regex="^[a-zA-Z0-9 ]{5,60}$">
  <label title="Estado/Provincia/Departamento" for="estado" data-title="Estado/Provincia/Departamento"></label>
</div>*@

@*<div class="field form-group ">
  <input type="text" name="city" id="6" class="input-big uppercase  " placeholder="Ciudad" data-required="" required="" minlength="5" maxlength="60" data-validate-regex="^[a-zA-Z0-9 ]{5,60}$">
  <label title="Ciudad" for="city" data-title="Ciudad"></label>
</div>*@

<div class="field form-group ">
  <input type="email" name="emailaddress1" id="7" class="input-big email" placeholder="Correo Electrónico" data-required="" required="" maxlength="100" data-validate-regex="\w{100}">
  <label title="Correo Electrónico" for="email" data-title="Correo Electrónico"></label>
</div>

<div class="input-group prefix">
  <span class="input-group-addon">+593</span>
  <div class="field form-group ">
    <input type="text" name="telephone1" id="8" class="input-phone   " placeholder="Teléfono" data-required="" required="" minlength="7" maxlength="7" data-validate-regex="^[0-9]{7,7}$">

    <label title="Teléfono" for="telephone1" data-title="Teléfono"></label>
    <span class="error-message"></span>
  </div>
</div>

<div class="floating-label form-group">
  <select class="select-big  " data-required="" required="" name="ph_purchaseintention">
    <option value="" optionid="null">
    </option>,
    <option value="881980002" optionid="null">
      Integrador de soluciones
    </option>,
    <option value="881980003" optionid="null">
      Uso personal
    </option>,
    <option value="881980004" optionid="null">
      Redistribución
    </option>
  </select>
  <label for="ph_purchaseintention" class="label-select">Razón de compra</label>
</div>