
<script src="~/Scripts/AlertNotification/AlertNotificacion.js"></script>

<section class="alert-notify-container">
  <div class="alert-notify">
    <div class="alert-icon-success">
      <i class="icon-ws-ico-min-check"></i>
    </div>
    <p></p>
  </div>
</section>