@using Resources = CRMLeadObjects.Resources.Paginator.Paginator;

<link href="~/Content/Shared/_Paginator.css" rel="stylesheet" />
<div id="containerPaginator">

  @*<div><span>@Resources.Showing</span></div>*@
  <div class="infoPagination"></div>

</div>