
<link href="~/Content/Spinner.css" rel="stylesheet" />

<section class="spinner-container d-none">
  <div class="sk-chase">
    <div class="sk-chase-dot" />
    <div class="sk-chase-dot" />
    <div class="sk-chase-dot" />
    <div class="sk-chase-dot" />
    <div class="sk-chase-dot" />
    <div class="sk-chase-dot" />
  </div>
</section>


@*<script>

  const settings = (() => {

    const initLoader = () => {
      const $spinner = document.querySelector(".spinner-container");
      $spinner.classList.remove("d-none");
    };
    const stopLoader = () => {
      const $spinner = document.querySelector(".spinner-container");
      $spinner.classList.add("d-none");
    };
    return {
      initLoader,
      stopLoader
    };
  })();

</script>*@