
@{
    ViewBag.Title = "_MessaggeSystem";
}

<link href="~/Content/Shared/_MessaggeSystem.css" rel="stylesheet" />

<div class="menusue" id="DivPadre" style="display:none">
    <div class="icon-Process" id="DivHijo">
        <span><i class="icon-iws-alert"></i></span>
    </div>
    <p id="messagge">
        Yo soy el mensaje, feo
    </p>
</div>


