@using Resources = CRMLeadObjects.Resources.Paginator.Paginator;
<link href="~/Content/Shared/_Paginator.css" rel="stylesheet" />

<div id="containerPaginator">
  <div class="separator-item">
  </div>
  <div id="pagination"></div>
 
</div>
