

<div class="product-grid-container">
  <section class="product-grid-item">
    <article class="product-grid-item-card">
      <div class="card-image">
        <img src="https://http2.mlstatic.com/impresora-laser-samsung-proxpress-sl-m4020nd-techbox-D_NQ_NP_610028-MLC32860519826_112019-F.webp" alt="Alternate Text" />
      </div>
      <p class="description">HP LaserJet Pro M402dne - Printer - monochrome</p>
      <p class="brand">HP</p>
      <div class="stock">
        <div class="circle"></div>
        <span>29 items in stock</span>
      </div>
      <hr />
      <p class="info-product">NP:XTM-175 | SKU: ID011XTK03</p>
      <div class="contend-price">
        <span class="price">
          $ 4,314.80
        </span>
        <span class="vat">
          excl VAT
        </span>
      </div>
      <hr />
      <div class="options">
        <button class="btn btn-iws-second">
          Copiar SKU
        </button>
        <button class="btn btn-iws-primary">
          DETALLE
        </button>
      </div>
    </article>
    <article class="product-grid-item-card">
      <div class="card-image">
        <img src="https://http2.mlstatic.com/impresora-laser-samsung-proxpress-sl-m4020nd-techbox-D_NQ_NP_610028-MLC32860519826_112019-F.webp" alt="Alternate Text" />
      </div>
      <p class="description">HP LaserJet Pro M402dne - Printer - monochrome</p>
      <p class="brand">HP</p>
      <div class="stock">
        <div class="circle"></div>
        <span>29 items in stock</span>
      </div>
      <hr />
      <p class="info-product">NP:XTM-175 | SKU: ID011XTK03</p>
      <div class="contend-price">
        <span class="price">
          $ 4,314.80
        </span>
        <span class="vat">
          excl VAT
        </span>
      </div>
      <hr />
      <div class="options">
        <button class="btn btn-iws-second">
          Copiar SKU
        </button>
        <button class="btn btn-iws-primary">
          DETALLE
        </button>
      </div>
    </article>
    <article class="product-grid-item-card">
      <div class="card-image">
        <img src="https://http2.mlstatic.com/impresora-laser-samsung-proxpress-sl-m4020nd-techbox-D_NQ_NP_610028-MLC32860519826_112019-F.webp" alt="Alternate Text" />
      </div>
      <p class="description">HP LaserJet Pro M402dne - Printer - monochrome</p>
      <p class="brand">HP</p>
      <div class="stock">
        <div class="circle"></div>
        <span>29 items in stock</span>
      </div>
      <hr />
      <p class="info-product">NP:XTM-175 | SKU: ID011XTK03</p>
      <div class="contend-price">
        <span class="price">
          $ 4,314.80
        </span>
        <span class="vat">
          excl VAT
        </span>
      </div>
      <hr />
      <div class="options">
        <button class="btn btn-iws-second">
          Copiar SKU
        </button>
        <button class="btn btn-iws-primary">
          DETALLE
        </button>
      </div>
    </article>
    <article class="product-grid-item-card">
      <div class="card-image">
        <img src="https://http2.mlstatic.com/impresora-laser-samsung-proxpress-sl-m4020nd-techbox-D_NQ_NP_610028-MLC32860519826_112019-F.webp" alt="Alternate Text" />
      </div>
      <p class="description">HP LaserJet Pro M402dne - Printer - monochrome</p>
      <p class="brand">HP</p>
      <div class="stock">
        <div class="circle"></div>
        <span>29 items in stock</span>
      </div>
      <hr />
      <p class="info-product">NP:XTM-175 | SKU: ID011XTK03</p>
      <div class="contend-price">
        <span class="price">
          $ 4,314.80
        </span>
        <span class="vat">
          excl VAT
        </span>
      </div>
      <hr />
      <div class="options">
        <button class="btn btn-iws-second">
          Copiar SKU
        </button>
        <button class="btn btn-iws-primary">
          DETALLE
        </button>
      </div>
    </article>
  </section>

</div>