@using ResourcesSettings= CRMLeadObjects.Resources.Settings.Settings
<div class="container-setting-customer">
  <div class="default-locale">
    <label for="defaultLocale" class="col-sm-2 col-form-label">@ResourcesSettings.DefaultLocale</label>
    <select class="selectDefaultLocale">
      <option value="en">@ResourcesSettings.English</option>
      <option value="es">@ResourcesSettings.Spanish</option>
    </select>
  </div>
</div>
