@using ResourcesLead = CRMLeadObjects.Resources.Lead.Lead;

<div class="content-helper">
    <div class="helper-title">
        <p>@ResourcesLead.NeedHelp</p>
    </div>
    <div class="helper-body">
        <p>@ResourcesLead.HelperTextFirst</p>
        <div class="row-icon">
            <i class="icon-ws-ico-min-phone icon-phone"></i><p id="companyPhone"></p>
        </div>
    </div>
</div>
