//Colors
$og-orange: #FF5D24;

//Brand Colors
$main-color: #0AA9CB;
$secondary-color: #175C88;
$tertiary-color: #D2EDEC;
$quaternary-color: #22A6A2;
$quinary-color: #72C15E;
$sextenary-color: #FFFFFF0D;
$septenary-color: #C400470D;
$octanary-color: #C40047;
$nonary-color: #18AECE;
$tenary-color: #175C88;
$eleventh-color: #13C3E8;
$twelveth-color: #C40247;
$thirteenth-color: #FF9961;
//Hover color
//GrayScale
$gs-white: #FFFFFF;
$gs-light: #FCFCFC;
$gs-gray-light: #F7F7F7;
$gs-gray: #E6E6E6;
$gs-gray-medium: #DDDDDD;
$gs-gray-dark: #878787;
$gs-gray-02: #B3B3B3;
$gs-gray-03: #555555;
$gs-gray-04: #AAAAAA;
$gs-gray-05: #00001f;

//WhiteScale
$wh-transparent: #FFFFFF00;
$wh-transparent-light: #FFFFFFDC;
$wh-white-light: #FFFFFFE9;
$wh-white: #FFFFFF;

//BlackScale
$bs-light-black: #191515;
$bs-black: #333333;
$bs-black-second: #565656;
//Title Colors
$main-title-color: $bs-light-black;
$secondary-title-color: $secondary-color;

//Text Colors
$main-paragraph-color: $bs-black;
$secondary-paragraph-color: $bs-light-black;
$tertiary-paragraph-color: $gs-gray-dark;
$quaternary-paragraph-color: $quinary-color;

//Button Colors
$main-button-color: $main-color;
$secondary-button-color: $gs-white;
$tertiary-button-color: $gs-gray-light;


//input colors




//table-striped color
$table-header-color: $gs-gray-light;
$table-striped-tbody-tr-even: $sextenary-color;
$table-striped-tbody-tr-even-hover: $septenary-color;

