// typography

$font-family-main: 'Barlow condensed', sans-serif;
$font-family-secondary: 'Overpass', sans-serif;
$font-family-tertiary: sans-serif;
$font-family-quaternary: 'Barlow', sans-serif;
$font-family-quinary: 'Barlow Italic', sans-serif;



// typography icon
$font-family-icon: icomoon;
