.settings-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem 0 5rem;
}

    .settings-container h3 {
        margin-bottom: 20px;
    }

.settings-container-user {
    display: flex;
    font-size: 22px
}

    .settings-container-user img {
        margin-right: 10px;
    }

.nav-tabs .nav-link.active {
    color: #0AA9CB;
    font-weight: 500;
    border: 1px solid #0AA9CB;
    border-bottom-style: none;
    box-shadow: 0px 3px 6px #00000029;
}

.nav-item a {
    color: #333333;
}

.container-tab-settings {
    margin-top: 20px;
}

.disable-events {
    pointer-events: none;
}
