
@{
    ViewBag.Title = "Diseno";
}



<div class="row">
    <h1>Manejo de Botones</h1>
</div>

<div class="row" style="padding-top:20px;">
    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-primary-br12">
        Primary
    </button>

    <button type="button" class="btn btn-outline-primary-br12-black">
        Secundario
    </button>

    <button type="button" class="btn btn-outline-primary-br12">
        <span class="icon-iws-plus">

        </span>
        Primary
    </button>

    <button type="button" class="btn btn-outline-primary-br12">
        <span class="icon-iws-arrow-left">

        </span>
        Regresar
    </button>
</div>

<div class="row" style="padding-top:20px;">
    <h1>Manejo de tablas + iconos</h1>
</div>

<div class="row" style="padding-top:20px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha Publicación</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cambios 1</td>
                <td>2019-01-02</td>
                <td>
                    <span class="icon-iws-delete"></span>
                    <span class="icon-iws-edite"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Cambios 2</td>
                <td>2019-01-02</td>
                <td>
                    <span class="icon-iws-delete"></span>
                    <span class="icon-iws-edite"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Cambios 3</td>
                <td>2019-01-02</td>
                <td>
                    <span class="icon-iws-delete"></span>
                    <span class="icon-iws-edite"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="row" style="padding-top:20px;">
    <h1>input + iconos</h1>
</div>


<div class="row">
    <div class="input-group col-md-4">
        <input class="form-control py-2" type="text" placeholder="search" id="example-search-input">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
                <i class="icon-iws-search"></i>
            </button>
        </span>
    </div>
</div>

<div class="row" style="padding-top:20px;">
    <h1>input checkbox</h1>
</div>

<div class="row">
</div>

<div class="row" style="padding-top:20px;">
    <h1>link + iconos</h1>
</div>


<div class="row">
    <div class="input-group col-md-4">
        <span class="icon-iws-arrow-down-download"></span>
        <a href="#" class="stretched-link">Descargar catálogo</a>
    </div>
</div>


<div class="row" style="padding-top:20px;">
    <h1>h1-h6</h1>
</div>


<div class="row">
    <h1>Título en h1</h1>
</div>

<div class="row">
    <h2>Título en h2</h2>
</div>

<div class="row">
    <h3>Título en h3</h3>
</div>




<div class="row">
    <h1>Manejo de tarjetas</h1>
</div>


<div class="row">
    <div class="col-md-4">

        <div class="card text-left card-pd11">
            <div class="card-body">
                <div class="row">
                    <h5 class="col-md-12 card-title">Ishop Costa Rica</h5>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong class="lblbodyCard">Id</strong>
                    </div>
                    <div class="col-md-6">

                        <label class="lblbodyCard">XMXZOLO</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong class="lblbodyCard">Number</strong>
                    </div>
                    <div class="col-md-6">

                        <label class="lblbodyCard">1153113</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="statusClose">
                            <strong>Open</strong>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer text-muted text-center">
                US$ 33563.47
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="card text-left card-pd11">
            <div class="card-body">
                <div class="row">
                    <h5 class="col-md-12 card-title">Ishop Costa Rica</h5>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong class="lblbodyCard">Id</strong>
                    </div>
                    <div class="col-md-6">

                        <label class="lblbodyCard">XMXZOLO</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong class="lblbodyCard">Number</strong>
                    </div>
                    <div class="col-md-6">

                        <label class="lblbodyCard">1153113</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="statusSucces">
                            <strong>Open</strong>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer text-muted text-center">
                US$ 33563.47
            </div>
        </div>
    </div>


    <div class="col-md-4">

        <div class="card text-left card-pd11">
            <div class="card-body">
                <div class="row">
                    <h5 class="col-md-12 card-title">Ishop Costa Rica</h5>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong class="lblbodyCard">Id</strong>
                    </div>
                    <div class="col-md-6">

                        <label class="lblbodyCard">XMXZOLO</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong class="lblbodyCard">Number</strong>
                    </div>
                    <div class="col-md-6">

                        <label class="lblbodyCard">1153113</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="statusPending">
                            <strong>Open</strong>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer text-muted text-center">
                US$ 33563.47
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        
        <input type="checkbox" id="checkbox" />
        <label for="checkbox">Option</label>
        
    </div>
</div>
